.btn-outline-primary {
  border-color: #007bb8 !important;
  border-width: 2px !important;
}

.btnn {
  padding: 15px 21px !important;
  color: #2a7fa9 !important;
  background-color: #e8f6ff !important;
  border-radius: 5px;
}

div > span .MuiSvgIcon-root {
  display: block !important;
}

@media screen and (min-width: 360px) and (max-width: 410px) {
  .btnn {
    /* padding: 17px 16px !important; */
    padding: 15px 19px !important;
  }
}

/* .activeClass {
  display: block;
  padding: 15px 21px !important;
  color: #2a7fa9 !important;
  background-color: #e8f6ff !important;
  border-color: #007bb8 !important;
  border-width: 2px !important;
} */
